# {{ ansible_managed }}

# Default bind address
BIND_ADDRESS="{{ graphite_api_bind_address }}"

# Default port number
PORT="{{ graphite_api_port }}"

# Additional gunicorn command line options
GUNICORN_OPTIONS="{{ graphite_api_gunicorn_options }}"
