[defaults]
# Use a static host list:
inventory = ./hosts

# Allows for storing playbooks in a folder.
roles_path = ./roles

# A little nicer to read when developing playbooks.
display_args_to_stdout = True

# Mostly these just take up space.
retry_files_enabled = False

# This isn't safe to use in all environments, but it's great for
# an instruction environment!
log_path=./ansible.log

# Speed boost for compatible OSes.
pipelining = True

# Add SSH retries.
retries = 5
